<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Beatify -  Sign In</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style2.css" rel="stylesheet">
    <link href="css/style4.css" rel="stylesheet">
    
    <script type="text/javascript" src="script2.js"></script>

  </head>

  <body style = "background-color: #AFEEEE">
    <h1>Beatify</h1>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix" style = "background-color: #40E0D0;">
            <div class="container inner">
              <h3 class="masthead-brand">Beatify</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="index.html">Home</a></li>
                  <li class = "active"><a href="signin.html">Sign In</a></li>
                  <li><a href="support.html">Support</a></li>
                </ul>
              </nav>
            </div>
          </div>

       <div class="form">
      
      <ul class="tab-group">
        <p class="lead"> <a href="signin.html" class="btn btn-lg btn-default" style = "background-color: #40E0D0">Log In</a> </p>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Sign Up for Free!</h1>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                
              </label>
              <input type="text" required autocomplete="off" placeholder="Full Name" />
            </div>
        
            <div class="field-wrap">
              <label>
                
              </label>
              <input type="text"required autocomplete="off" placeholder="Username"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              
            </label>
            <input type="email"required autocomplete="off" placeholder="Email Address"/>
          </div>
          
          <div class="field-wrap">
            <label>
              
            </label>
            <input type="password"required autocomplete="off" placeholder="Set A Password"/>
          </div>
          
          <button type="submit" class="button button-block"/>Get Started</button>
          
          </form>

        </div>
        
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form action="/" method="post">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button class="button button-block"/>Log In</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->

        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>



</html>