<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Beatify -  Support</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style2.css" rel="stylesheet">

  </head>

  <body style = "background-color: #AFEEEE">
    <h1>Beatify</h1>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix" style = "background-color: #40E0D0;">
            <div class="container inner">
              <h3 class="masthead-brand">Beatify</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="signin.html">Sign In</a></li>
                  <li class = "active"><a href="support.html">Support</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Problems? Suggestions? Want to contact us?</h1>
            <p class="lead">If you're encountering any bugs, or have any suggestions for improvements, email us at dontemailus@nonexistent.com.</p>

            <p class="lead">Find us on Facebook, Twitter, Instagram, Snapchat, and Soundcloud!</p>
            
          </div>

        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>